@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500");

$font: "Quicksand", sans-serif;
$primary: #783f8e;
$secondary: #75dddd;
$black: #292929;
$white: #fafafa;
$grey: #5f5f5f;

* {
  font-family: $font;
}

body{
    background-color: black;
}

h1{
    color:white;
}
hr{
    background-color: white;
}



#crud{
    align-items: center;
    position: relative;
    left:8%;
    top: 300px;
}

#titulo{
    color:white;

}

#table{
    position: relative;
    left: 20%;
    top:200px;
}

#text{
    text-align: center;
    color:white;

}

#buttons{
    position: relative;
    left: 3%;
}

#form{
    position: relative;
    left: 10%;
    top: 140px;
    align-content: center;
}