extends layout

block content
    .wrapper
        .page-header.header-filter
            .squares.square1
            .squares.square2
            .squares.square3
            .squares.square4
            .squares.square5
            .squares.square6
            .squares.square7
            .container
                .content-center.brand
                  h1.h1-seo &bull;    INGENIERIA EN  SISTEMAS   &bull;
                  h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, fugiat?&apos;s Free and Open Source.


        


