extends layout 

block content
    br
    br
    .wrapper
        div(class='section')
            .container.align-items-center
              .row
                .col-lg-6.col-md-6
                  h1.profile-title.text-left Persona 1
                  h1.display-3#title President
                  p.profile-description
                    | Offices parties lasting outward nothing age few resolve. Impression to discretion understood to we interested he excellence. Him remarkably use projection collecting. Going about eat forty world has round miles.
                  .btn-wrapper.profile.pt-3
                    a.btn.btn-icon.btn-twitter.btn-round(target='_blank' href='https://twitter.com/creativetim' data-toggle='tooltip' data-original-title='Follow us')
                      i.fab.fa-twitter
                    a.btn.btn-icon.btn-facebook.btn-round(target='_blank' href='https://www.facebook.com/creativetim' data-toggle='tooltip' data-original-title='Like us')
                      i.fab.fa-facebook-square
                    a.btn.btn-icon.btn-dribbble.btn-round(target='_blank' href='https://dribbble.com/creativetim' data-toggle='tooltip' data-original-title='Follow us')
                      i.fab.fa-dribbble
                .col-lg-4.col-md-6.ml-auto.mr-auto
                  .card.card-coin.card-plain
                    .card-header
                      img.img-center.img-fluid.rounded-circle(src='../assets/img/mike.jpg')
                      h3.title#title ABILITIES
                    .card-body
        br
        br
        div(class='section')
            .container.align-items-center
              .row
                .col-lg-6.col-md-6
                  h1.profile-title.text-left Persona 2
                  h1.display-3#title Cordinator
                  p.profile-description
                    | Offices parties lasting outward nothing age few resolve. Impression to discretion understood to we interested he excellence. Him remarkably use projection collecting. Going about eat forty world has round miles.
                  .btn-wrapper.profile.pt-3
                    a.btn.btn-icon.btn-twitter.btn-round(target='_blank' href='https://twitter.com/creativetim' data-toggle='tooltip' data-original-title='Follow us')
                      i.fab.fa-twitter
                    a.btn.btn-icon.btn-facebook.btn-round(target='_blank' href='https://www.facebook.com/creativetim' data-toggle='tooltip' data-original-title='Like us')
                      i.fab.fa-facebook-square
                    a.btn.btn-icon.btn-dribbble.btn-round(target='_blank' href='https://dribbble.com/creativetim' data-toggle='tooltip' data-original-title='Follow us')
                      i.fab.fa-dribbble
                .col-lg-4.col-md-6.ml-auto.mr-auto
                  .card.card-coin.card-plain
                    .card-header
                      img.img-center.img-fluid.rounded-circle(src='../assets/img/mike.jpg' id='profileImg')
                      h3.title#title ABILITIES
                    .card-body
