mixin navbar()
  .card.card-nav-tabs.card-plain
    .card-header(style="background-color:transparent")
      // colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger"
      .nav-tabs-navigation
        .nav-tabs-wrapper
          ul.nav.nav-tabs(data-tabs='tabs')
            li.nav-item
              a.nav-link.active(href='/') Home
            li.nav-item
              a.nav-link.active(href='/Profile'  ) Profile
            li.nav-item
              a.nav-link.active(href='/Proposal') Proposal
            li.nav-item
              a.nav-link.active(href='/auth/google/callback') Sign with Google