mixin navbar()
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="/") CRUD
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-ico
        .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href="#") Home <span class="sr-only">(current)</span>
                li.nav-item
                    a.nav-link(href="#") Link
                li.nav-item
                    a.nav-link#prepa(href="/prepa") Prepa